body {
    background-color: lightblue;
}

h1 
{color: red;}

h2
{color: white;}

.text {color: darkorange;}



.list{font-family: Helvetica, Arial, sans-serif;}

.title{font-style: oblique;}

div {
    width: 700px;
    border: 25px solid darkred;
    padding: 20px;
    margin: 20px;
}







